

$color-primary                 : #3f66a6;
$color-primary-darker          : #1F4788;
// $color-primary                 : #0074a9;
// $color-primary-darker          : #0e6997;
$color-white                   : #fff;
$color-default                 : #ccc;
$color-default-lighter         : #a3a3ad;
$color-default-darker          : #919699;
// COLORS
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark:  #237d10;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-grey: #9bc1e7;

$dark-blue: #003171;

$color-blue-light: #3f66a6;
$color-blue-dark: #5643fa;

$color-chocolate: #5e5d5d;
$color-chocolate-dark: #2d2d2d;

$color-red: #dc0f0a;
$color-orange: #f76f27;

$color-grey-light-1: #f4f5f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #F6F6F6;

$color-grey-dark: #5c5a5a;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-footer: #505050;

  .btn,
  .btn-sm,
  .btn-group {
      &,
      &:link,
      &:visited {
        margin: 0 5px;
        text-decoration: none;
        border-radius: 2px;
        transition: all .2s;
        padding: 5px 14px 6px 13px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }
   
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0 ,.2);
      }
   
      &:active,
      &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 3px 10px rgba(0, 0, 0 ,.2);
      }
   
      &:disabled {
        opacity: .5;
        cursor: not-allowed;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }

      &:disabled:hover {
        opacity: .5;
        transform: translateY(0);
      }
  }

  .btn-default {
      background-color: #f2f0f2;
      opacity: 1;
      color: $color-primary;
      border: 2px solid  $color-primary;

      &:focus,
      &:visited,
      &:active {
        color: $color-primary;
      }

      &:hover {
        background-color: $color-grey-light-1;
        opacity: .8;
      }

      &:disabled {
        opacity: 0.5;
      }
  }
