<div id="infobar" class="container-fluid">
  <div class="row">
    <div class="hello" *ngIf="!pirate.female">Captain {{ pirate.name }}</div>
    <div class="hello" *ngIf="pirate.female">Madam {{ pirate.name }}</div>
  </div>

  <div class="row">
    <app-crew-display class="col"></app-crew-display>
  </div>
  <div class="row">
    <app-ship-display class="col"></app-ship-display>
  </div>
  <div class="row">
    <app-supply-display class="col"></app-supply-display>
  </div>
  <div class="row" id='action-area'>
    <app-action-display class="col"></app-action-display>
  </div>
</div>