.panel {
    width: 50%;
    margin: auto;
}

.flag-area{
    display: inline-flex;
    flex-wrap: wrap;
}

.mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
}

.flag-img {
    height: 64px;
    width: 64px;
    margin: 0.25rem;
}