<div class="container-fluid">
  <div class="row">
    <div class="col-2 sectionlabel">Pirate Name:</div>
    <div class="col-4"><input [(ngModel)]="captain">
      <button class="btn btn-default" (click)="newcaptain()">
        <ng-container *ngIf="!female">New Captain</ng-container>
        <ng-container *ngIf="female">New Madam</ng-container>
      </button>
    </div>

    <div class="col-1">
      <input type="radio" [(ngModel)]="female" [value]='false' name="gender">Captain
    </div>
    <div class="col-1">
      <input type="radio" [(ngModel)]="female" [value]='true' name="gender">Madam
    </div>

  </div>
  <div class="row">
    <div class="col-2 sectionlabel">Ship Name:</div>
    <div class="col-6">
      <input [(ngModel)]="shipname">
      <button class="btn btn-default" (click)="newname()">New Name</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2 sectionlabel">Avatar:</div>
    <div class="col-6" id='icons'></div>
  </div>
  <div class="row">
    <div class="col-2 sectionlabel">Color:</div>
    <div class="col-8">
      <button class="btn btn-default" [value]="color" [style.background]="color" [(colorPicker)]="color">{{color}}</button>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-default col" [disabled]="0===captain.length" (click)="sail()">Set Sail!</button>
  </div>
</div>