:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction:column;
    min-height: 0;
}

.mat-toolbar {
    height: 100px;
}

.mat-sidenav-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-height: 0;
}

.mat-sidenav {
    display: flex;
    flex-direction: row;
    flex: 1 1 25%;
    min-height: 0;
    width: 25%;
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}