<div id="targetting">
    <table *ngFor="let tgt of targets" class="ship">
        <tr>
            <td rowspan="4">
                <img *ngIf="tgt.crew.count>=1" src="{{tgt.avatar}}" class='shipimg'>
                <img *ngIf="tgt.crew.count<1" src="/assets/abandoned.svg" class='shipimg'>
            </td>
            <td>{{tgt.name}}
                <br/>{{tgt.hullStrength}}</td>
            <td>Captain: {{ tgt.captain }}</td>
            <td rowspan="4">
                <button [disabled]="!shipsvc.canFire(tgt)" (click)="fire(tgt)">Fire!</button>
                <button [disabled]="!shipsvc.canBoard(tgt)" (click)="board(tgt)">Board!</button>
            </td>
        </tr>
    </table>
</div>