<div class="container-fluid">

  <div class="row">
    <div class="col header">{{ship?.name}}</div>
  </div>
  <div class="row">
    <div class="col-9"># Cannons ({{ship?.cannons?.firepower}}/{{ship?.cannons?.range}})</div>
    <div class="col-3">{{ship?.cannons?.count}}</div>
  </div>
  <div class="row">
    <div class="col-9">Hull Strength</div>
    <div class="col-3">{{ship?.hullStrength| number : '1.2-2'}}</div>
  </div>
  <div class="row">
    <div class="col-9">Sail Quality</div>
    <div class="col-3">{{ship?.sailQuality| number : '1.2-2'}}</div>
  </div>
</div>
